PORT=5000
MONGODB_URI=mongodb+srv://kandeelkandeel09_db_user:XDWPUHv3IuESUqSE@cluster0.yk1e9xe.mongodb.net/wedding_guestbook?retryWrites=true&w=majority&appName=Cluster0
CLIENT_ORIGIN=http://localhost:5173
ADMIN_API_KEY=change-this-to-a-long-random-secret
